@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
  color: white;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: black;
}
.name{
  position: sticky;
  margin-left: auto;
  right: 50px;
  top: 50px;
  z-index: 99;
  font-size: 1em;
}

@media only screen and (max-width: 400px) {
  .name{
    font-size: 1em;
  }
}